@keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll-x {
    animation: scroll-x 20s linear infinite;
  }
  